#root {
    display: flex;
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    min-width: 29rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    border: outset;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
}

.flex-container:hover {
    transition: all 500ms ease-out;
    box-shadow: 0 30px 30px 0 rgb(0 0 0 / 20%), 0 30px 30px 0 rgb(0 0 0 / 19%)
}


.one {
    align-self: center;
}

.two {
    width: 100%;
    align-self: center;
    text-align: center;
}